*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #FFFFFF;
	overflow: hidden;
}
h1{
	display: none;	
}
.wrapper{
	width: 1024px;
	height: 100vh;
	min-height: 625px;
	max-height: 625px;
	margin: auto auto;
	display: flex;
}
.navigation{
	position: relative;
	display: flex;
	justify-content: flex-end;
	z-index: 100;
}
.navigation ul{
	width: 125px;
	background: #FFFFFF;
	border: 1px solid #1565C0;
	border-top: none;
	border-right: none;
	list-style: none;
	font-family: 'Roboto', sans-serif;
}
.nav-item{
	height: 25px;
	display: block;
	margin: 5px 0;
	text-align: right;
	font-size: 1.2em;
	color: #0D47A1;
	padding-right: 15px;
	border-bottom: 2px solid transparent;	
	transition: all .25s;
}
.nav-item:hover{
	cursor: pointer;
	border-bottom:1px solid #1565C0;
}
.nav-item-selected{
	background: #1565C0;
	color: #FFFFFF;
}
.section-1{
	width: 40%;
	margin-top: 10%;
	height: 75%;
	border: 1px solid #1565C0;
	border-right: none;
	border-bottom-width: 7px;
	overflow: hidden;

}
.section-2{
	width: 60%;
	margin-top: 2.5%;
	height: 95%;
	border: 1px solid #1565C0;
	overflow: hidden;
}
.slider{
	display: flex;
	height: 100%;
	width: 400%;
}
.slider-1{
}
.slider-2{
	margin-top: -97px;
}
.content{
	width: 100%;
	height: 100%;
	order: 2;
}
.content-in{
	animation: contentIn .75s;
	animation-fill-mode: forwards;
}
.content-out{
	animation: contentOut .25s;
	animation-fill-mode: forwards;
}
@keyframes contentOut{
	from{
		opacity: 1;
	}
	to{
		order: 2;
		opacity: 0;
	}
}
@keyframes contentIn{
	from{
		opacity: 0;
	}
	to{
		order: 1;
		opacity: 1;
	}
}
#slider-1 .content span{
	display: block;
	font-family: 'Vollkorn', serif;
	font-size: 7.5em;
	color: #0D47A1;
	padding: 0 25px;
}
#slider-1 .content h2{
	font-family: 'Vollkorn', serif;
	font-size: 2em;
	color: #0D47A1;
	margin-bottom: 15px;
	padding: 0 25px;
}
#slider-1 .content p{
	font-family: 'Roboto', sans-serif;
	font-size: 1.25em;
	color: #0D47A1;
	padding: 0 15px 0 15px;
	text-align: justify;
	padding: 0 25px;
}
#slider-2 .content img{
	width: 100%;
	height: auto;
}
.skills{
/*	background: red;
*/	width: 100%;
	height: 80%;
	margin-top: 20%;
	overflow-y: scroll;
	padding: 0 25px;
	display: flex;
	flex-flow: column;
}
/* width */
.skills::-webkit-scrollbar {
	width: 5px;
}

/* Track */
.skills::-webkit-scrollbar-track {
	border-radius: 10px;
}
 
/* Handle */
.skills::-webkit-scrollbar-thumb {
  	background: #fff; 
	border: 1px solid #1565C0;
	border-right: none;
  	border-radius: 10px;
}

.skill{
	width: 100%;
	height: 75px;
/*	background: red;
*/	margin-bottom: 50px;
	padding: 0 25px;
}
.skill h3{
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	color: #0D47A1;
	border: 1px solid #0D47A1;
	height: 30px;
	border-bottom: none;
	padding-top: 5px;
	width: 25%;
	text-align: center;
	border-radius: 5px 5px 0 0;
}
.skill .progess-bar{
	height: 30px;
	display: flex;
	justify-content: space-between;
}
.progess-bar .progess-bar-fill{
	height: 100%;
	width: 90%;
	background: #FFF;
	border: 1px solid #1565C0;
	border-radius: 0 0 0 5px;
	order: 1;
}
.progess-bar .progess-bar-fill span{
	display: block;
	height: 100%;
	width: 0%;
	background: #1565C0;
	transition: width 2s ease-out;
}
.progess-bar-status{
	display: block;
	height: 100%;
	width: 9%;
	order: 2;
	border: 1px solid #1565C0;
	border-radius: 0 5px 5px 0;
	color: #0D47A1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: .9em;
}

.projetos{
/*	background: red;
*/	width: 100%;
	height: 80%;
	margin-top: 20%;
	overflow-y: scroll;
	padding: 0 25px;
}
/* width */
.projetos::-webkit-scrollbar {
	width: 5px;
}

/* Track */
.projetos::-webkit-scrollbar-track {
	border-radius: 10px;
}
 
/* Handle */
.projetos::-webkit-scrollbar-thumb {
  	background: #fff; 
	border: 1px solid #1565C0;
	border-right: none;
  	border-radius: 10px;
}
.projeto{
	width: 100%;
	height: 100px;
	margin-bottom: 50px;
	padding: 0 25px;
	display: flex;
}
.projeto > div{
	width: 80%;
	height: 100%;
	border-radius: 10px 0 0 10px;
	border: 1px solid #1565C0;
}
.projeto h4{
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	border-bottom: 1px solid #1565C0;
	height: 40%;
	color: #0D47A1;
	padding-left: 25px;
	padding-top: 4px;
	font-weight: lighter;
}
.projeto p{
	font-family: 'Roboto', sans-serif;
	font-size: .9em;
	height: 5%;
	color: #0D47A1;
	padding-left: 25px;
	padding-top: 4px;
	font-weight: lighter;
}
.projeto > a{
	display: block;
	width: 20%;
	height: 100%;
	border-radius: 0 10px 10px 0;
	background: #1565C0;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-content: center;
	text-decoration: none;
}
.projeto i{
	color: #FFFFFF;
	font-size: 3em;
	align-self: center;
	text-decoration: none;
}
